.nav1{
    margin-left: -45px;
}
.nav1 nav{
    display: flex;
} 
.nav1 nav .ul2{
    display: flex;
}
.nav1 nav li{
    font-family: Georgia, Times, 'Times New Roman', serif;
    list-style: none;
    margin: 20px 10px 10px 20px ;
    font-weight: bold;
}
#logo{
    font-size: 30px;
    background-color: black;
    margin-top: 0px;
    padding: 10px;
    color: white;
    font-family:'Trebuchet MS';
}
.nav1 nav li a{
    text-decoration: none;
    color: black;
}
.nav2 ul{
    display: flex;
}
.nav2 ul li{
    list-style: none;
    font-family: Verdana, Tahoma;
    margin: 4px 45px 4px -25px;
}
.nav2 ul li a{
    text-decoration: none;
    color: black;
    font-size: 14px;
}
h1{
    margin-left: 14px;
    font-family: Verdana, Tahoma;
}
p{
    margin-left: 14px;
    font-family: Verdana, Tahoma;
}

img{
    margin-left: 5%;
    width: 90%;
    height: 250px;
    margin-top: 9px;
}
section{
    display:flex;
}
.div1{
  display:flex;
  justify-content:space-between;
}
.div1 div{
    border:2px solid black;
    margin-left:20px;
}
.div2{
    justify-content:space-between;
    display:flex;
}
.div2 div{
    border:2px solid black;
    margin-left:20px;
}
h3{
    margin-left:15px;
}
.p1{
  color:blue;
}
.p2{
 color:green;
}
@media screen and (max-width:850px){
    .nav1{
        font-size: 12px;
    }
   section{
    margin-left:50px;
    width:90%;
    display:block;
   }
   section .div1{
    margin-bottom:20px;
    display:inline-flex;
   }
   .nav2{
    margin-left: 30px;
   }
   section .div2{
    display:inline-flex;
   }
   h1{
    text-align:center;
   }
    main p{
    margin-left: 50px;
   }
}
@media screen and (max-width:595px){
   .nav1{
    margin-left:-80px;
    }
    .ul2{
        margin-left: -30px;
    }
    .ul2 li{
        font-size: 10px;
    }
}
@media screen and (max-width:505px) {
    .nav1 nav {
        display:block;
    }
    .nav1 nav .ul1{
        text-align: center;
        margin:auto;
        margin-left: 70px;
        margin-top: 0;
        margin-bottom: 20px;
    }
    nav .ul2{
        display:flex;
    }
    nav .ul2 li{
        margin-right:45px;
    }
    .nav1{
        width:80%;
        margin-left: 25px;
    }
    .nav1 nav li{
        font-family: Georgia, Times, 'Times New Roman', serif;
        margin-top:20px ;
        margin-left: 5px;
        font-size:10px;
        width:50px;
    }
   
    #logo{
        font-size: 15px;
        height:10px;
        line-height: 10px;
        width:100px;
        margin-bottom: -30px;;
    }
    h1{
        font-size: 20px;
    }
    
    section{
        width:90%;
        margin-left: 10px;
        display:block;
    }
    section .div1{
        margin-left:5px;
        display:block;
    }
    .div1 div{
       
        margin-top: 10px;
    }
    section .div2{
        margin-left:5px;
        display:block;
    }
    .div2 div{
        margin-top: 10px;
    }
}
